@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h1 {
	margin-bottom: 30px;
}

.container {
	text-align: center;
	background-color: #fff;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.link-container {
	margin-top: 20px;
}

.link-container a {
	text-decoration: none;
	color: #3498db;
	font-weight: bold;
	margin: 0 10px;
	font-size: 18px;
}

.link-container a:hover {
	text-decoration: underline;
}

.message {
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}
